.about__main{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex:1;
}
.about__content{
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

/* tablette */
@media (max-width: 1024px) {
    .about__main{
        width: 90%;
        max-width: 900px;
    }
}
