.about__main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.about__entete{
    border-radius: 25px;
    height: 240px;
    width: 1240px;
    overflow: hidden;
    background: url("../../assets/images/Image source 2.jpg") center;
}
.about__content{
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}