.tags{
    display:flex;
    justify-content:center;
    align-items:center;
    width:115px;
    height:25px;
    border-radius:10px;
    background: #FF6060;
    color:white;
    font-size: 14px;
    white-space: nowrap;
}