.logement__title{
    display: flex;
    flex-direction: column;
    width: 635px;
    height: 77px;
}
.logement__title h1{
    font-size: 36px;
    font-weight: lighter;
    color: #FF6060;
    margin:0;
}
.logement__title p{
    margin:0;
    font-size: 18px;
}