.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.logement__main{
    width: 1240px;
    margin: 50px;
}

.logement__carrousel{
    width: 100%;
    height: 415px;
    border-radius: 25px;
}

.info__container{
    display: flex;
    margin-top: 30px;
    justify-content: space-between;
}
.logement__infos{
    display: flex;
    flex-direction: column;
}

.logement__rate{
    display: flex;
    flex-direction: column;
}
.logement__tags{
    width:auto;
    height:25px;
    display:flex;
    align-items:center;
    margin-top: 10px;
    gap:10px;
}

.logement__collapse{
    margin-top: 20px;
    display: flex;
    gap: 30px;
    width: 100%;
}