.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.logement__main{
    border: 1px solid red;
    background-color: red;
    width: 1240px;
    height: 643px;
    margin: 50px;
}

/*carrousel*/
.logement__carrousel{
    width: 100%;
    height: 415px;
    border: 1px solid blue;
    background-color: blue;
    border-radius: 25px;
}
/*css titre + Host*/
.logement__infos{
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
}
.logement__title{
    display: flex;
    flex-direction: column;
    width: 635px;
    height: 77px;
    gap: 10px;
}
.logement__title h1{
    font-size: 36px;
    color: #FF6060;
    margin:0;
}
.logement__title p{
    margin:0;
    font-size: 18px;
}
.logement__host{
    width: 167px;
    height: 64px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 10px;
}
.logement__host p{
    margin-left: 30px;
}
.host__pics{
    height: 64px;
    width: 64px;
    border-radius: 70px;
}

/*css tags + étoiles*/