.error{
    width: 100%;
    max-width: 1440px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 50px;
    flex: 1;
}
.error__oups,
.error__404{
    margin: 0;
}

.error__code{
    display: flex;
    align-items: center;
    flex-direction: column;
    color:#FF6060;
}
.error__404{
    margin-top: 30px;
    font-size:288px ;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    margin-bottom: 139px;
}

.error__oups{
    font-size:36px ;
    margin-bottom: 100px;
}
.error__retour{
    margin-top:30px;
}
.error__link{
    color:black;
}
/* mobile */
@media (max-width: 768px) {
    .error{
        width: 100%;
        max-width: 768px;
    }
    .error__404{
        margin-top: 70px;
        font-size:96px ;
        margin-bottom: 40px;
    }

    .error__oups{
        font-size:18px ;
        width: 250px;
        text-align: center;
        margin-bottom: 70px;
    }
    .error__retour{
        margin-top:0;
    }
}