.accueil__main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.logement__container{
    background-color: #F6F6F6;
    border-radius: 25px;
    width: 1240px;
    margin-top: 50px;
    margin-bottom: 50px;
}
.logement__card{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px;
    margin:40px;
}