.logement__host{
    width: 167px;
    height: 64px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 25px;
}
.logement__host p{
    margin-left: 30px;
    color: #FF6060;
    font-weight: lighter;
}
.host__pics{
    height: 64px;
    width: 64px;
    border-radius: 70px;
}
