.star__container{
    display: flex;
    flex-direction: row;
    gap: 17px;
    width: 196px;
    margin-top: 20px;
}

.star{
    width: 25px;
    height: 25px;
}
@media (max-width: 768px) {
    .star__container{
        width: 100%;
    }

    .star{
        width: 20px;
        height: 20px;
    }
}